<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>


<ul>
  <% @restaurants.each do |restaurant| %>
    <li data-restaurant-id="<%= restaurant.id %>">
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= link_to 'destroy', restaurant_path(restaurant), method: :delete,remote: true   %>
    </li>
  <% end %>
</ul>
